body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}
input,
button,
textarea {
  font: inherit;
}
.text-1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
::placeholder {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 20px;
  font-size: 32px;
  line-height: 39px;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  gap: 100px;
  justify-content: center;
}
.title {
  margin-bottom: 30px;
}
.section {
  width: calc(50% - 25px);
}
.section-input-user {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-user__title {
  height: 60px;
}
.input-user__text {
  height: 250px;
}
button {
  height: 60px;
  color: #fff;
  font-size: 32px;
  line-height: 39px;
}
.send-btn {
  border: 1px solid #0094ff;
  background-color: #0094ff;
}
.remove-btn {
  border: 1px solid #b90505;
  background-color: #b90505;
}
.section-posts__title {
  margin-bottom: 50px;
}
.posts {
  color: gray;
}
.post {
  margin-bottom: 50px;
  color: black;
}
.post__date {
  font-size: 25px;
  line-height: 30px;
  color: #0094ff;
}
.post__title {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}
.post__text {
  font-size: 25px;
  line-height: 30px;
}
.expenses-symbol {
  color: green;
}
.red {
  color: red;
}

@media only screen and (max-width: 1199px) {
  .wrapper {
    flex-direction: column;
  }
  .section {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}